<div class="section">
    <div class="columns is-full-height">
        <div class="column">
            <aside class="menu">
                <div>
                    <a clas="menu-label">
                        DashBoard
                    </a>
                </div>
                <hr>
                <!-- Groups -->
                <div>
                    <p class="menu-label">
                        Groups
                    </p>
                    <!-- ADD groups list-->
                    <div class="list">
                        <ul>
                            <li class="list-item" *ngFor="let group of userGroups">
                                <a [routerLink]="['/group', group.id]">{{group.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <!-- Contacts -->
                <div>
                    <p class="menu-label">
                        Contacts
                    </p>
                    <!-- ADD contacts list -->
                </div>
            </aside>
        </div>

        <div class="column is-three-quarters">
            <p>Hello {{currentUser.name}}!</p>
            <!-- User Dues -->
            <section class="section">
                <div class="columns">
                    <div class="column">
                        <p>You Owe</p>
                        <table class="table is-striped is-fullwidth">
                            <tbody>
                                <tr *ngFor="let userDebt of userDebts; let i = index">
                                    <td>
                                        {{userDebt.name}}
                                    </td>
                                    <td>
                                        ${{userDebt.amount}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <p>You Get Back</p>
                        <table class="table is-striped is-fullwidth">
                            <tbody>
                                <tr *ngFor="let userCredit of userCredits; let i = index">
                                    <td>
                                        {{userCredit.name}}
                                    </td>
                                    <td>
                                        ${{userCredit.amount}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- User Expenses -->
            <section class="section">
                Your Expenses
            </section>
        </div>
    </div>
</div>