<h2>Sign Up!</h2>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">

    <div class="form-group">
        <label for="username">
            Username
        </label>
        <input id="username" type="text" formControlName="username" class="form-control">
    </div>

    <div class="form-group">
        <label for="password">
            Password
        </label>
        <input id="password" type="text" formControlName="password" class="form-control">
    </div>

    <div class="form-group">
        <button class="button" type="submit" class="btn btn-primary">
            Sign Up
        </button>
        <a routerLink="/login" class="btn btn-link">Go back to login</a>
    </div>

</form>